@model DragonSushi_ASP.NET.ViewModel.FuncionarioViewModel

@{
    ViewBag.Title = "CadastrarFuncionario";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Restaurante, Japonês, Delivery, Sushi, Temaki, ">
    <meta name="description" content="Faça já seu pedido na Dragon Sushi! Confira nossos pratos, ofertas e muito mais!">
    <meta name="author" content="Gabriel S. Evangelista, Henrique R. Pereira, Guilherme Ferreira, Gustavo Basilio, Maria Eduarda G. Lima, Guilherme Lemes">
    <link rel="shortcut icon" type="~/images/x-icon" href="favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">


    <script defer src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>

    <title>Dragon Sushi - Restaurante Japonês</title>
</head>
<body>
    <main class="employee__register">
        <div class="form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <h1 class="form__title">Cadastro de funcionário</h1>
                <div class="form__box">
                    @Html.LabelFor(model => model.Pessoa.nomePessoa, htmlAttributes: new { @class = "form__box__label" })
                    <div class="form__box__input-icon">
                        @Html.EditorFor(model => model.Pessoa.nomePessoa, new { htmlAttributes = new { @placeholder = "Digite seu nome completo" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Pessoa.nomePessoa, "", new { @class = "text-danger" })
                </div>
                <div class="form__box">
                    @Html.LabelFor(model => model.Pessoa.telefone, htmlAttributes: new { @class = "form__box__label" })
                    <div class="form__box__input-icon">
                        @Html.EditorFor(model => model.Pessoa.telefone, new { htmlAttributes = new { @placeholder = "Informe seu telefone" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Pessoa.telefone, "", new { @class = "text-danger" })
                </div>
                <div class="form__box">
                    @Html.LabelFor(model => model.Pessoa.cpf, htmlAttributes: new { @class = "form__box__label" })
                    <div class="form__box__input-icon">
                        @Html.EditorFor(model => model.Pessoa.cpf, new { htmlAttributes = new { @placeholder = "Digite seu CPF" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Pessoa.cpf, "", new { @class = "text-danger" })
                </div>
                <div class="form__box">
                    @Html.LabelFor(model => model.Usuario.login, htmlAttributes: new { @class = "form__box__label" })
                    <div class="form__box__input-icon">
                        @Html.EditorFor(model => model.Usuario.login, new { htmlAttributes = new { @placeholder = "Informe o login" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Usuario.login, "", new { @class = "text-danger" })
                </div>
                <div class="form__box">
                    @Html.LabelFor(model => model.Usuario.senha, htmlAttributes: new { @class = "form__box__label" })
                    <div class="form__box__input-icon">
                        @Html.EditorFor(model => model.Usuario.senha, new { htmlAttributes = new { @placeholder = "Digite a senha" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Usuario.senha, "", new { @class = "text-danger" })
                </div>
                <input type="submit" value="Cadastrar" class="form__button align-center" />}
        </div>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/script")
</body>
</html>

