
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Restaurante, Japonês, Delivery, Sushi, Temaki, ">
    <meta name="description" content="Faça já seu pedido na Dragon Sushi! Confira nossos pratos, ofertas e muito mais!">
    <meta name="author" content="Gabriel S. Evangelista, Henrique R. Pereira, Guilherme Ferreira, Gustavo Basilio, Maria Eduarda G. Lima, Guilherme Lemes">
<link rel="shortcut icon" type="~/images/x-icon" href="favicon.ico">

<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">


    <script defer src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>

    <title>Dragon Sushi - Restaurante Japonês</title>
</head>
<body>
    <header class=" header">
        <div class="container">
            <div class="header__logo">
                <img src="~/images/logo.png" alt="">
            </div>
            <div class="header__container-menu-icon">
                <div class="header__search-bar-icon">
                    <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                </div>
                <div class="header__mobile-menu">
                    <div class="header__mobile-menu__line-one"></div>
                    <div class="header__mobile-menu__line-two"></div>
                    <div class="header__mobile-menu__line-three"></div>
                </div>
            </div>
            <nav class="header__navigation-menu">
                <ul class="header__navigation-menu__list">
                    <div class="header__navigation-menu__list__links">
                    <li class="header__navigation-menu__list__links__item"><a href="~/Produto/ConsultarCategoria">Home</a></li>
                    <li class="header__navigation-menu__list__links__item"><a href="~/Produto/ConsultarCategoria/#cardapio">Cardápio</a></li>
                    <li class="header__navigation-menu__list__links__item"><a href="~/Produto/ConsultarCategoria#quem-somos">Quem somos</a></li>
        </div>
        <div class="header__navigation-menu__list__container">
            <div class="search-bar header__navigation-menu__list__search-bar">
                <a class="search-bar__icon header__navigation-menu__list__search-bar__icon" href="#">
                    <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                </a>
                <input class="search-bar__txt header__navigation-menu__list__search-bar__txt" type="text"
                       placeholder="O que deseja?">
            </div>
            <div class="header__navigation-menu__list__buttons">
                <a class="accent-button header__navigation-menu__list__buttons__item" href="~/Usuario/CadastrarUsuario">Cadastra-se</a>
                <a class="accent-button header__navigation-menu__list__buttons__item" href="~/Usuario/Login">Entrar</a>
            </div>
        </div>
        </ul>
        </nav>
        <div class="header__profile__container__tooltip-shopping-cart">
            <div class="header__profile__shopping-cart">
                <a href="#">
                    <span>
                        <iconify-icon class="icon-iconify" icon="entypo:shopping-cart"></iconify-icon>
                    </span>
                </a>
            </div>
            <div class="header__profile__tooltip">
                <iconify-icon class="iconify-icon" icon="gg:profile"></iconify-icon>
                <div class="header__profile__tooltip__text">
                    <h1>Minha conta</h1>
                    <ul>
                        <li><a href="~/Usuario/EditarPerfil">Editar perfil</a></li>
                        <li><a href="~/Pedido/HistoricoPedido">Histórico de pedidos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <div class="search-bar-mobile">
            <div class="search-bar mobile header__navigation-menu__list__search-bar">
                <a class="search-bar__icon header__navigation-menu__list__search-bar__icon" href="#">
                    <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                </a>
                <input class="search-bar__txt header__navigation-menu__list__search-bar__txt" type="text"
                       placeholder="O que deseja?">
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="footer">
        <div class="footer__container-img">
            <img src="~/images/logo.png" alt="">
        </div>
        <div class="container">
            <h1 class="footer__title">DRAGON SUSHI</h1>
        </div>
        <div class="container">
            <div class="footer__info">
                <div class="footer__info__links">
                    <h2 class="footer__info__title">Links</h2>
                    <ul class="footer__info__links__list">
                        <li><a href="~/Produto/ConsultarCategoria">Home</a></li>
                        <li><a href="~/Produto/ConsultarCategoria#cardapio">Cardápio</a></li>
                        <li><a href="~/Produto/ConsultarCategoria#quem-somos">Quem Somos</a></li>
                    </ul>
                </div>
                <div class="footer__info__address">
                    <h2 class="footer__info__title">Endereço</h2>
                    <ul class="footer__info__links__list">
                        <li>R. Guiapá, 678, Villa Leopoldina,<br> São Paulo - SP.</li>
                        <li>Telefone: (11) 3834-4111</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container footer__copyright">
            <p class="footer__all-rights-reserved">
                Copyright © 2022 Dragon Sushi | Todos os Direitos Reservados
            </p>
            <a target="_blank" href="https://www.linkedin.com/in/westen-technology-43b6711b8/" class="footer__developers">
                Desenvolvido por Westen
            </a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", required: false)
</body>
</html>