@model DragonSushi_ASP.NET.ViewModel.ReservaViewModel

@{
    ViewBag.Title = "Cadastrar Reserva";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <meta name="keywords" content="Restaurante, Japonês, Delivery, Sushi, Temaki, ">
    <meta name="description" content="Faça já seu pedido na Dragon Sushi! Confira nossos pratos, ofertas e muito mais!">
    <meta name="author" content="Gabriel S. Evangelista, Henrique R. Pereira, Guilherme Ferreira, Gustavo Basilio, Maria Eduarda G. Lima, Guilherme Lemes">

    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="shortcut icon" type="~/image/x-icon" href="favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!--
        Fonts: Montserrat, Roboto and Patua One
        font-family: 'Montserrat', sans-serif;
          - Font weight: 300, 400, 600 and 700
        font-family: 'Roboto', sans-serif;
          - Font weight: 300, 400 and 700
        font-family: 'Patua One', cursive;
          - Font weight: 400
        font-family: 'Open Sans', sans-serif;
          - Font weight: 300, 400 and 700
    -->

    <script defer src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script defer src="js/jquery-3.6.1.min.js"></script>
    <script defer src="js/script.js"></script>

    <title>Dragon Sushi - Restaurante Japonês</title>
</head>
<body class="product_register-page">
    <main class="product_register">
        <div class="form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <h1 class="form__title">Cadastrar reserva</h1>
                <div class="form__box">
                    <label class="form_box_label" for="name">Cliente</label>
                    <div class="form_box_input-icon">
                        @Html.EditorFor(model => model.Pessoa.cpf, new { htmlAttributes = new { @placeholder = "Informe o CPF do cliente" } })
                        @Html.ValidationMessageFor(model => model.Pessoa.cpf, "", new { @class = "text-danger" })
                    </div>
                    <a href="~/Cliente/CadastrarCliente" class="client_register_text">Cadastrar cliente</a>
                </div>

                <div class="form-container-flex">
                    <div class="form__box">
                        <label class="form_box_label" for="name">Data</label>
                        <div class="form_box_input-icon">
                            @Html.EditorFor(model => model.Reserva.dataReserva, new { htmlAttributes = new { @type = "date" } })
                            @Html.ValidationMessageFor(model => model.Reserva.dataReserva, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form__box">
                        <label class="form_box_label" for="name">Hora</label>
                        <div class="form_box_input-icon">
                            @Html.EditorFor(model => model.Reserva.hora, new { htmlAttributes = new { @type = "time" } })
                            @Html.ValidationMessageFor(model => model.Reserva.hora, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form__box">
                    <label class="form_box_label" for="phone">Número de pessoas</label>
                    <div class="form_box_input-icon">
                        @Html.EditorFor(model => model.Reserva.numPessoas, new { htmlAttributes = new { @type = "number" } })
                        @Html.ValidationMessageFor(model => model.Reserva.numPessoas, "", new { @class = "text-danger" })
                    </div>
                </div>


                    <input type="submit" value="Cadastrar" class="form__button" />

            }
        </div>
    </main>
</body>
</html>
