@model DragonSushi_ASP.NET.ViewModel.ReservaViewModel

@{
    ViewBag.Title = "Editar Reserva";
    Layout = null;
}

@Styles.Render("~/Content/style.css")
@Scripts.Render("~/bundles/modernizr")

<main class="product__register">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Reserva.idReserva)
        <div class="form">
            <h1 class="form__title align-center">Alterar reserva</h1>

            <div class="form__box">
                @Html.LabelFor(model => model.Pessoa.nomePessoa, htmlAttributes: new { @class = "form__box__label" })
                <div class="form__box__input-icon">
                    @Html.EditorFor(model => model.Pessoa.nomePessoa, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Pessoa.nomePessoa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-container-flex">
                <div class="form__box">
                    @Html.LabelFor(model => model.Reserva.dataReserva, htmlAttributes: new { @class = "form__box__label" })
                    <div class="form__box__input-icon">
                        @Html.EditorFor(model => model.Reserva.dataReserva, new { htmlAttributes = new { @type = "date" } })
                        @Html.ValidationMessageFor(model => model.Reserva.dataReserva, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form__box">
                    @Html.LabelFor(model => model.Reserva.hora, htmlAttributes: new { @class = "form__box__label" })
                    <div class="form__box__input-icon">
                        @Html.EditorFor(model => model.Reserva.hora, new { htmlAttributes = new { @type = "time" } })
                        @Html.ValidationMessageFor(model => model.Reserva.hora, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form__box">
                @Html.LabelFor(model => model.Reserva.numPessoas, htmlAttributes: new { @class = "form__box__label" })
                <div class="form__box__input-icon">
                    @Html.EditorFor(model => model.Reserva.numPessoas, new { htmlAttributes = new { @type = "number" } })
                    @Html.ValidationMessageFor(model => model.Reserva.numPessoas, "", new { @class = "text-danger" })
                </div>
            </div>

            <input type="submit" value="Salvar" class="form__button align-center" />
        </div>
    }

</main>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/script")