@model IEnumerable<DragonSushi_ASP.NET.ViewModel.ReservaViewModel>

@{
    ViewBag.Title = "Listar Reserva";
    Layout = null;
}

@Styles.Render("~/Content/style.css")
@Scripts.Render("~/bundles/modernizr")

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Restaurante, Japonês, Delivery, Sushi, Temaki, ">
    <meta name="description" content="Faça já seu pedido na Dragon Sushi! Confira nossos pratos, ofertas e muito mais!">
    <meta name="author" content="Gabriel S. Evangelista, Henrique R. Pereira, Guilherme Ferreira, Gustavo Basilio, Maria Eduarda G. Lima, Guilherme Lemes">
    <link rel="shortcut icon" type="~/images/x-icon" href="favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">


    <script defer src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>

    <title>Dragon Sushi - Restaurante Japonês</title>
</head>
<body>
    <main class="book__page">
        <div class="book__title">
            <a>Reservas</a>
        </div>
        <div class="book__page__content">

            <div class="book__page__search">

                <iconify-icon class="iconify-icon-book-page" icon="eva:search-fill"></iconify-icon>

                <input class="book__page__search__bar" type="text" placeholder="Buscar reserva">

            </div>

            <div class="book__page__container">
                @foreach (var item in Model)
                {
                    <div class="book__page__cards">
                        <h1 class="card__title">@Html.DisplayFor(modelItem => item.Reserva.dataReserva)</h1>

                        <div>
                            <img src="~/images/book/clock-image.png">
                            <a>@Html.DisplayFor(modelItem => item.Reserva.hora)</a>
                        </div>

                        <div>
                            <img src="~/images/book/user-image.png">
                            <a>@Html.DisplayFor(modelItem => item.Pessoa.nomePessoa)</a>
                        </div>

                        <div>
                            <img src="~/images/book/table-image.png">
                            <a>@Html.DisplayFor(modelItem => item.Reserva.numPessoas)</a>
                        </div>

                        <div>
                            <a href="/Reserva/EditarReserva/@item.Reserva.idReserva"><img class="book__edit__icon" src="/images/book/edit-image.png" /></a>
                            <a href="/Reserva/ExcluirReserva/@item.Reserva.idReserva"><img class="book__cancel__icon" src="/images/book/cancel-image.png"></a>
                        </div>
                    </div>}
                @*<div class="book__page__cards">
                    <h1 class="card__title">19 de setembro</h1>

                    <div>
                        <img src="~/images/book/clock-image.png">
                        <a>12:30</a>
                    </div>

                    <div>
                        <img src="~/images/book/user-image.png">
                        <a>Danilo Alves</a>
                    </div>

                    <div>
                        <img src="~/images/book/table-image.png">
                        <a>4 pessoas</a>
                    </div>

                    <div>
                        <img class="book__edit__icon" src="~/images/book/edit-image.png">
                        <img class="book__cancel__icon" src="~/images/book/cancel-image.png">
                    </div>
                </div>
                <div class="book__page__cards">
                    <h1 class="card__title">19 de setembro</h1>

                    <div>
                        <img src="~/images/book/clock-image.png">
                        <a>12:30</a>
                    </div>

                    <div>
                        <img src="~/images/book/user-image.png">
                        <a>Danilo Alves</a>
                    </div>

                    <div>
                        <img src="~/images/book/table-image.png">
                        <a>4 pessoas</a>
                    </div>

                    <div>
                        <img class="book__edit__icon" src="~/images/book/edit-image.png">
                        <img class="book__cancel__icon" src="~/images/book/cancel-image.png">
                    </div>
                </div>
                <div class="book__page__cards">
                    <h1 class="card__title">19 de setembro</h1>

                    <div>
                        <img src="~/images/book/clock-image.png">
                        <a>12:30</a>
                    </div>

                    <div>
                        <img src="~/images/book/user-image.png">
                        <a>Danilo Alves</a>
                    </div>

                    <div>
                        <img src="~/images/book/table-image.png">
                        <a>4 pessoas</a>
                    </div>

                    <div>
                        <img class="book__edit__icon" src="~/images/book/edit-image.png">
                        <img class="book__cancel__icon" src="~/images/book/cancel-image.png">
                    </div>
                </div>
                <div class="book__page__cards">
                    <h1 class="card__title">19 de setembro</h1>

                    <div>
                        <img src="~/images/book/clock-image.png">
                        <a>12:30</a>
                    </div>

                    <div>
                        <img src="~/images/book/user-image.png">
                        <a>Danilo Alves</a>
                    </div>

                    <div>
                        <img src="~/images/book/table-image.png">
                        <a>4 pessoas</a>
                    </div>

                    <div>
                        <img class="book__edit__icon" src="~/images/book/edit-image.png">
                        <img class="book__cancel__icon" src="~/images/book/cancel-image.png">
                    </div>
                </div>*@
            </div>
        </div>
        <button class="button__add">
            <a href="~/Reserva/CadastrarReserva"><iconify-icon icon="carbon:add" class="icon-add" style="color: white;"></iconify-icon></a>
        </button>
    </main>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/script")
</html>



