@model IEnumerable<DragonSushi_ASP.NET.ViewModel.ProdutoViewModel>

@{
    ViewBag.Title = "ConsultarCategoria";
}
    <main class="home">
        <section class="hero">
            <div class="container">
                <div class="hero__text">
                    <h1 class="hero__text__title">Faça já seu pedido!</h1>
                    <p class="hero__text__paragraph">
                        Experimente o melhor do oriente sem sair de casa.<br class="line-break">
                        Veja nossos pratos, bebidas e venha se deliciar!
                    </p>
                    <a class="accent-button hero__text__link" href="#cardapio">Peça agora <img src="~/images/icon-chopsticks.png" alt=""></a>
                </div>
                <picture class="hero__img">
                    <img src="~/images/home/hero.png" alt="Fazendo sushi">
                </picture>
            </div>
        </section>
        <section class="main-dishes">
            <h1 class="main-dishes__title">PRATOS MAIS VENDIDOS</h1>
            <div class="card-dishes container">
                <div class="card-dishes__item">
                    <picture class="card-dishes__item__img">
                        <a><img src="https://www.dicasdemulher.com.br/wp-content/uploads/2020/01/salmao-grelhado-0.png" alt=""></a>
                    </picture>
                    <h1 class="card-dishes__item__title">
                        Salmão grelhado
                    </h1>
                    <p class="card-dishes__item__paragraph">
                        Porção de 200g de fatias de salmão grelhado.
                    </p>
                    <div class="card-dishes__item__info-buy">
                        <span class="card-dishes__item__info-buy__price">R$ 54.90</span>
                        <span class="card-dishes__item__info-buy__icon">
                            <iconify-icon class="icon-iconify" icon="entypo:shopping-cart"></iconify-icon>
                        </span>
                    </div>
                </div>
                <div class="card-dishes__item">
                    <picture class="card-dishes__item__img">
                        <img src="https://koibc.com.br/cardapios/storage/images/2021/09/temaki-filadelfia.jpg" alt="">
                    </picture>
                    <h1 class="card-dishes__item__title">
                        Temaki de salmão grelhado
                    </h1>
                    <p class="card-dishes__item__paragraph">
                        Salmão grelhado, cream cheese, cebolinha, arroz e nori.
                    </p>
                    <div class="card-dishes__item__info-buy">
                        <span class="card-dishes__item__info-buy__price">R$ 18.99</span>
                        <span class="card-dishes__item__info-buy__icon">
                            <iconify-icon class="icon-iconify" icon="entypo:shopping-cart"></iconify-icon>
                        </span>
                    </div>
                </div>
                <div class="card-dishes__item">
                    <picture class="card-dishes__item__img">
                        <img src="https://koibc.com.br/cardapios/storage/images/2021/09/hot-filadelfia.jpg" alt="">
                    </picture>
                    <h1 class="card-dishes__item__title">
                        Hot roll
                    </h1>
                    <p class="card-dishes__item__paragraph">
                        8 unidades de sushi de salmão empanado com cream cheese e molho tarê
                    </p>
                    <div class="card-dishes__item__info-buy">
                        <span class="card-dishes__item__info-buy__price">R$ 12.90</span>
                        <span class="card-dishes__item__info-buy__icon">
                            <iconify-icon class="icon-iconify" icon="entypo:shopping-cart"></iconify-icon>
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="restaurant-menu">
            <div class="container">
                <h1 id="cardapio" class="restaurant-menu__title">CARDÁPIO</h1>
                <p class="restauurant-menu__paragraph">
                    Descubra pratos novos todos os dias na Dragon Sushi!
                </p>
            </div>
            <section class="restaurant-menu__list-dishe">
                <div class="container">
                    <h1 class="restaurant-menu__title-type-dishe">ENTRADAS</h1>
                </div>
                <div class="card-dishes container">
                    @foreach (var item in Model.Where(c => c.Categoria.idCategoria == 1))
                    {
                        <div class="card-dishes__item">
                            <picture class="card-dishes__item__img">
                                <img src="@item.Produto.imgProd" alt="">
                            </picture>
                            <h1 class="card-dishes__item__title">
                                @item.Produto.nomeProd
                            </h1>
                            <p class="card-dishes__item__paragraph">
                                @item.Produto.descrProd
                            </p>
                            <div class="card-dishes__item__info-buy">
                                <span class="card-dishes__item__info-buy__price">R$ @item.Produto.preco</span>
                                <span class="card-dishes__item__info-buy__icon">
                                    <iconify-icon class="icon-iconify" icon="entypo:shopping-cart"></iconify-icon>
                                </span>
                            </div>
                        </div>}
                </div>
            </section>
            <section class="restaurant-menu__list-dishe">
                <div class="container">
                    <h1 class="restaurant-menu__title-type-dishe">PRATOS QUENTES</h1>
                </div>
                <div class="card-dishes container">

                    @foreach (var item in Model.Where(c => c.Categoria.idCategoria == 2))
                    {
                        <div class="card-dishes__item">
                            <picture class="card-dishes__item__img">
                                <img src="@item.Produto.imgProd" alt="">
                            </picture>
                            <h1 class="card-dishes__item__title">
                                @item.Produto.nomeProd
                            </h1>
                            <p class="card-dishes__item__paragraph">
                                @item.Produto.descrProd
                            </p>
                            <div class="card-dishes__item__info-buy">
                                <span class="card-dishes__item__info-buy__price">R$ @item.Produto.preco</span>
                                <span class="card-dishes__item__info-buy__icon">
                                    <iconify-icon class="icon-iconify" icon="entypo:shopping-cart"></iconify-icon>
                                </span>
                            </div>
                        </div>}
                </div>
            </section>
            <section class="download-app">
                <div class="container">
                    <div class="download-app__text">
                        <h1 class="download-app__text__title">
                            Baixe o nosso App
                        </h1>
                        <p class="download-app__text__paragraph">
                            Confira nossos pratos, bebidas<br>e ofertas tudo na palma da sua mão.
                        </p>
                        <span>
                            * Disponível apenas para Android
                        </span>
                    </div>
                    <div class="download-app__img">
                        <img class="mokup-inverse" src="~/images/home/mokup-inverse.png" alt="">
                        <img class="mokup" src="~/images/home/mokup.png" alt="">
                    </div>
                    <div class="download-app__button">
                        <a class="accent-button" href="#">Baixe agora <iconify-icon class="icon-iconify" icon="ant-design:download-outlined"></iconify-icon></a>
                    </div>
                </div>
            </section>
            <section class="restaurant-menu__list-dishe">
                <div class="container">
                    <h1 class="restaurant-menu__title-type-dishe">TEMAKIS</h1>
                </div>
                <div class="card-dishes container">
                    @foreach (var item in Model.Where(c => c.Categoria.idCategoria == 3))
                    {
                        <div class="card-dishes__item">
                            <picture class="card-dishes__item__img">
                                <img src="@item.Produto.imgProd" alt="">
                            </picture>
                            <h1 class="card-dishes__item__title">
                                @item.Produto.nomeProd
                            </h1>
                            <p class="card-dishes__item__paragraph">
                                @item.Produto.descrProd
                            </p>
                            <div class="card-dishes__item__info-buy">
                                <span class="card-dishes__item__info-buy__price">R$ @item.Produto.preco</span>
                                <span class="card-dishes__item__info-buy__icon">
                                    <iconify-icon class="icon-iconify" icon="entypo:shopping-cart"></iconify-icon>
                                </span>
                            </div>
                        </div>}
                </div>
            </section>
            <section class="restaurant-menu__list-dishe">
                <div class="container">
                    <h1 class="restaurant-menu__title-type-dishe">PEÇAS</h1>
                </div>
                <div class="card-dishes container">
                    @foreach (var item in Model.Where(c => c.Categoria.idCategoria == 4))
                    {
                        <div class="card-dishes__item">
                            <picture class="card-dishes__item__img">
                                <img src="@item.Produto.imgProd" alt="">
                            </picture>
                            <h1 class="card-dishes__item__title">
                                @item.Produto.nomeProd
                            </h1>
                            <p class="card-dishes__item__paragraph">
                                @item.Produto.descrProd
                            </p>
                            <div class="card-dishes__item__info-buy">
                                <span class="card-dishes__item__info-buy__price">R$ @item.Produto.preco</span>
                                <span class="card-dishes__item__info-buy__icon">
                                    <iconify-icon class="icon-iconify" icon="entypo:shopping-cart"></iconify-icon>
                                </span>
                            </div>
                        </div>
                     }
                </div>
            </section>
            <section class="restaurant-menu__list-dishe">
                <div class="container">
                    <h1 class="restaurant-menu__title-type-dishe">COMBOS</h1>
                </div>
                <div class="card-dishes container">
                    @foreach (var item in Model.Where(c => c.Categoria.idCategoria == 5))
                    {
                        <div class="card-dishes__item">
                            <picture class="card-dishes__item__img">
                                <img src="@item.Produto.imgProd" alt="">
                            </picture>
                            <h1 class="card-dishes__item__title">
                                @item.Produto.nomeProd
                            </h1>
                            <p class="card-dishes__item__paragraph">
                                @item.Produto.descrProd
                            </p>
                            <div class="card-dishes__item__info-buy">
                                <span class="card-dishes__item__info-buy__price">R$ @item.Produto.preco</span>
                                <span class="card-dishes__item__info-buy__icon">
                                    <iconify-icon class="icon-iconify" icon="entypo:shopping-cart"></iconify-icon>
                                </span>
                            </div>
                        </div>}
                </div>
            </section>
            <section class="restaurant-menu__list-dishe">
                <div class="container">
                    <h1 class="restaurant-menu__title-type-dishe">BEBIDAS</h1>
                </div>
                <div class="card-dishes container">
                    @foreach (var item in Model.Where(c => c.Categoria.idCategoria == 6))
                    {
                        <div class="card-dishes__item">
                            <picture class="card-dishes__item__img">
                                <img src="@item.Produto.imgProd" alt="">
                            </picture>
                            <h1 class="card-dishes__item__title">
                                @item.Produto.nomeProd
                            </h1>
                            <p class="card-dishes__item__paragraph">
                                @item.Produto.descrProd
                            </p>
                            <div class="card-dishes__item__info-buy">
                                <span class="card-dishes__item__info-buy__price">R$ @item.Produto.preco</span>
                                <span class="card-dishes__item__info-buy__icon">
                                    <iconify-icon class="icon-iconify" icon="entypo:shopping-cart"></iconify-icon>
                                </span>
                            </div>
                        </div>
                     }
                </div>
            </section>
        </section>
        <section class="who-we-are">
            <div class="container">
                <div class="who-we-are__text">
                    <h1 id="quem-somos" class="who-we-are__title">SOBRE NÓS</h1>
                    <p class="who-we-are__paragraph">
                        O melhor restaurante japonês localizado na capital de São Paulo, perto de você!
                        Iniciamos nossa atuação de maneira simples, em um local pequeno, usando comandas em papel.
                        <br class="line-break">
                        <br class="line-break">
                        Com a mudança para um restaurante maior, precisamos nos informatizar.
                        Em 2020, nos tornamos clientes da Westen contratando um sistema desktop, utilizado por seus funcionários.
                    </p>
                </div>
                <picture class="who-we-are__img">
                    <img src="~/images/home/quem-somos.png" alt="">
                </picture>
            </div>
        </section>
        <section class="localization">
            <div class="container">
                <p class="localization__paragraph">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magni minus labore voluptates omnis. Dolor harum, fuga officiis a sapiente et facere culpa, maiores ut, sunt ipsum repellendus doloribus commodi.
                </p>
            </div>
            <div class="localization__iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14633.597310106976!2d-46.72953756729347!3d-23.518135679919713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1663593605683!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </main>