@model IEnumerable<DragonSushi_ASP.NET.ViewModel.ProdutoViewModel>

@{
    ViewBag.Title = "MostrarEstoque";
    Layout = null;

    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")


}

<main class="employee__inventory__page">
    <div class="inventory__title employee-inventory__title">
        <a>Estoque</a>
    </div>

    <div class="content__header">

        <div class="employee__inventory__search">

            <iconify-icon class="iconify-icon-book-page" icon="eva:search-fill"></iconify-icon>

            <input class="employee__inventory__search__bar" type="text" placeholder="Buscar produto">
        </div>

        <a href="~/Reserva/CadastrarReserva"><button class="btn__register__product">Cadastrar produto</button></a>
    </div>

    <div class="employee__inventory__content">
        <div class="employee__inventory__box">
            <div class="employee__inventory__header">
                <div class="id__container">
                    <a>#</a>
                </div>
                <div class="name__container">
                    <a>Nome</a>
                </div>
                <div class="quantity__container">
                    <a>Quantidade</a>
                </div>
            </div>

            @foreach (var item in Model)
            {
                <div class="box__itens">
                    <div class="id__container">
                        <a>@item.Produto.idProd</a>
                    </div>
                    <div class="name__container">
                        <a>@item.Produto.nomeProd</a>
                    </div>
                    <div class="quantity__container">
                        <a>@item.Produto.qtdProd</a>
                    </div>
                    <div class="img__container">
                        <a href="/Produto/EditarProduto/@item.Produto.idProd"><img class="employee__inventory__edit__icon" src="~/images/employee-inventory/edit-image.png"></a>
                    </div>
                </div>}

        </div>
    </div>
</main>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/script")

