@model DragonSushi_ASP.NET.ViewModel.PedidoViewModel

@{
    ViewBag.Title = "spSelectProdutos";
}
<main class="specific-dishe">
    <div class="container">
        <h1 class="specific-dishe__title">@Html.DisplayFor(model => model.Produto.nomeProd)</h1>
    </div>
    <div class="container flex">
        <div class="specific-dishe__container-img">
            <img src="@Html.DisplayFor(model => model.Produto.imgProd)" alt="">
        </div>
        <div class="specific-dishe__description">
            <p>
                @Html.DisplayFor(model => model.Produto.descrProd)
            </p>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Produto.idProd)
        <div class="container flex">
            <div class="specific-dishe__note">
                <h2 class="specific-dishe__note__title">OBSERVAÇÃO:</h2>
                @Html.TextAreaFor(model => model.Pedido.descrPedido, new { @class = "specific-dishe__note__textarea" })
            </div>
            <div class="specific-dishe__price">
                <div class="specific-dishe__price__unitary">
                    <p>@Html.DisplayFor(model => model.Produto.preco)</p>
                </div>
                <div class="specific-dishe__price__subtotal">
                    <p>Subtotal: R$ 168,00</p>
                    <div class="amount-dishe-item">
                        <span class="amount-dishe-item__subtract"></span>
                        @Html.EditorFor(model => model.Pedido.qtdProd, new { htmlAttributes = new { @type = "number", @class = "amount-dishe-item__current", @readonly = "readonly", @value = "model.Pedido.qtdProd" } })
                        <span class="amount-dishe-item__add"></span>
                    </div>
                </div>

                <input type="submit" value="Adicionar ao carrinho" class="accent-button" />
            </div>
        </div>
     }

    </main>
