@model DragonSushi_ASP.NET.ViewModel.ProdutoViewModel

@{
    ViewBag.Title = "spSelectProdutos";
    //Layout = null;
}



@*<h2>spSelectProdutos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>


    <tr>
        <td>
        <td> @Html.DisplayFor(model => model.Produto.nomeProd)</td>
        <td> @Html.DisplayFor(model => model.Produto.imgProd)</td>
        <td> @Html.DisplayFor(model => model.Produto.descrProd)</td>
        </td>
    </tr>


</table>*@

<body class="specific-dish-page">
    <main class="specific-dishe">
        <div class="container">
            <h1 class="specific-dishe__title">@Html.DisplayFor(model => model.Produto.nomeProd)</h1>
        </div>
        <div class="container flex">
            <div class="specific-dishe__container-img">
                <img src="@Html.DisplayFor(model => model.Produto.imgProd)" alt="">
            </div>
            <div class="specific-dishe__description">
                <p>
                    @Html.DisplayFor(model => model.Produto.descrProd)
                </p>
            </div>
        </div>
        <form class="container flex">
            <div class="specific-dishe__note">
                <h2 class="specific-dishe__note__title">OBSERVAÇÃO:</h2>
                <textarea class="specific-dishe__note__textarea"></textarea>
                </textarea>
            </div>
            <div class="specific-dishe__price">
                <div class="specific-dishe__price__unitary">
                    <p>@Html.DisplayFor(model => model.Produto.preco)</p>
                </div>
                <div class="specific-dishe__price__subtotal">
                    <p>Subtotal: R$ 168,00</p>
                    <div class="amount-dishe-item">
                        <span class="amount-dishe-item__subtract"></span>
                        <input type="number" value="1" class="amount-dishe-item__current" readonly></input>
                        <span class="amount-dishe-item__add"></span>
                    </div>
                </div>
                <button type="submit" class="accent-button">Adicionar ao carrinho</button>
            </div>
        </form>
    </main>
</body>