@model DragonSushi_ASP.NET.ViewModel.UsuarioViewModel

@{
    ViewBag.Title = "EditarPerfil";
}

<main class="edit-profile">
    <div class="container">
        <h1 class="edit-profile__title">EDITAR PERFIL</h1>
    </div>
    <div class="container flex">
        <div action="" class="form">
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Usuario.idUsuario)
            @Html.HiddenFor(model => model.Pessoa.idPessoa)

            <div class="form-container-flex">
                <div class="form__box">
                    <label class="form__box__label" for="name">Nome</label>
                    <div class="form__box__input-icon">
                        <iconify-icon icon="bxs:user"></iconify-icon>
                        @Html.EditorFor(model => model.Pessoa.nomePessoa, new { htmlAttributes = new { @id = "name" } })
                    </div>
                </div>
                <div class="form__box">
                    <label class="form__box__label" for="login">Login</label>
                    <div class="form__box__input-icon">
                        <iconify-icon icon="eva:email-fill"></iconify-icon>
                        @Html.EditorFor(model => model.Usuario.login, new { htmlAttributes = new { @id = "email" } })
                    </div>
                </div>
            </div>
            <div class="form__box">
                <label class="form__box__label" for="phone">Telefone</label>
                <div class="form__box__input-icon">
                    <iconify-icon icon="bi:phone-fill"></iconify-icon>
                    @Html.EditorFor(model => model.Pessoa.telefone, new { htmlAttributes = new { @id = "phone" } })
                </div>
            </div>
            <div class="form__box">
                <label class="form__box__label" for="password">Senha</label>
                <div class="form__box__input-icon">
                    <iconify-icon icon="uis:padlock"></iconify-icon>
                    @Html.EditorFor(model => model.Usuario.senha, new { htmlAttributes = new { @id = "password", @type="password" } })
                </div>
            </div>
            <div class="form-container-flex">
                <div class="form__box">
                    <label class="form__box__label" for="confirm-password">Confirmar senha</label>
                    <div class="form__box__input-icon">
                        <iconify-icon icon="uis:padlock"></iconify-icon>
                        @Html.EditorFor(model => model.Usuario.novaSenha, new { htmlAttributes = new { @id = "confirm-password", @type="password" } })
                    </div>
                </div>
                <div class="form__box">
                    <label class="form__box__label" for="confirm-password">Confirmar senha</label>
                    <div class="form__box__input-icon">
                        <iconify-icon icon="uis:padlock"></iconify-icon>
                        @Html.EditorFor(model => model.Usuario.confirmarSenha, new { htmlAttributes = new { @id = "confirm-password", @type="password" } })
                    </div>
                </div>
            </div>
            <div class="form-container-flex-button">
                <input type="submit" value="Salvar" class="form__button" />
            </div>
            }
        </div>
        <picture class="background-image">
            <img src="~/images/edit-profile/edit-profile-background.png" alt="">
        </picture>
    </div>
</main>